.Overlay{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
/*Clase para mostrar el display*/
.Overlay.mostrar{
    display: block;
}
/*Clase para ocultar el display*/
.Overlay.ocultar{
    display: none;
}